<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />
    <!-- Bootstrap CSS -->
    <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>    <!--Plus dependecies!!!!-->
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">-->
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
        </div>
    </div>
    <div>
        <a class="btn btn-success" th:href="@{/}" th:text="'Back'"></a>
    </div>
    <div>
        <h1>Submit a new post</h1>
    </div>

    <div>
        <form th:href="@{/submit}" method="post" th:object="${newReddit}">
            <div class="form-group">
                <label for="title" th:text="'Title: '"></label>
                <input class="form-control" type="text" th:field="*{title}" name="title" id="title" placeholder="Title" required>
            </div>
            <div>
                <label for="message" th:text="'Message: '"></label>
                <textarea class="form-control" type="text" th:field="*{message}" name="message" id="message"></textarea>
            </div>
            <div>
                <label for="url" th:text="'URL: '"></label>
                <input class="form-control" type="url" th:field="*{URL}" name="url" id="url">
            </div>
            <br>
                </br>
                <input class="btn btn-success" type="submit" value="Submit">
            </div>
        </form>
    </div>

    <!--CONTENT HERE-->

</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
