<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />
    <!-- Bootstrap CSS -->
    <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>    <!--Plus dependecies!!!!-->
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">-->
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
        </div>
    </div>
    <div>
        <a class="btn btn-success" th:href="@{/submit}" th:text="'Submit new post'"></a>
    </div>
        </br>
        <a class="btn btn-success" th:href="@{/}" th:text="'Most popular posts'"></a>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <h1>All posts</h1>
                </div>
                <table class="table">
                    <tbody>
                    <tr th:each="reddit : ${allReddits}">
                        <td th:text="${reddit.score}"></td>
                        <td><a th:href="@{'/' + ${reddit.id} + '/upscoreall'}"><i class="glyphicon glyphicon-plus"></i></a></td>
                        <td><a th:href="@{'/' + ${reddit.id} + '/downscoreall'}"><i class="glyphicon glyphicon-minus"></i></a></td>
                        <td><a th:href="@{'/' + ${reddit.id} + '/details'}" th:text="${reddit.title}"></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
</div>

    <!--CONTENT HERE-->

</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
